<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.BiblioEPFCConnectionString"
            connectionString="Data Source=.\EPFCSQLEXPRESS;AttachDbFilename=C:\Users\2201dogrolaux\Desktop\BiblioEPFC.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ApplicationBiblioEPFC.Properties.Settings.BiblioEPFCConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=Z:\Documents\Documents\GitHub\ProjectBiblioEPFC\BiblioEPFC.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
